body 
{
  font-family: "Open Sans", sans-serif;
}

h1 
{
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: white;
}


p
{
    font-size: 1.1rem;
}

.container
{
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px; 
    height: 100vh;
}


.main
{
   display: flex;
   gap: 40px;
   flex-flow: column wrap;
   background: greenyellow;
   width: 100%;
}


.main
.header
{
    display: flex;
    justify-content: flex-start;
    background: orange;
}

.main
.header
img
{
    width: 150px;
}


.main
.middle-section
{
 display: flex;
 flex-flow: column wrap;
 justify-content: center;
 gap: 10px;
 text-align: center;
 background:orangered;   
}


.main
.middle-section
img
{
    width: 100%;
}



.main
.middle-section
.info-section
{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.main
.footer
{
    display: flex;
    padding: 1rem;
    gap: 15px;
    justify-content: center;
    background-color: blueviolet;
}

.main
.footer
.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 1rem;
}