body 
{
  font-family: "Open Sans", sans-serif;
}

h1 
{
  font-family: "Poppins", sans-serif;
  color: white;
}

.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--p-violet) no-repeat url('../../../assets/images/bg-desktop.svg');
    background-size: contain;
    height: 100vh;
}


.container
.main
{
    max-width: 1285px;
    height: 728px;
}

.container
.main
.header
{
    padding: 1rem;
}

.container
.main
.header
img
{
    min-width: 50px;
    max-width: 210px;
    margin-left: -22px;
}

.container
.main
.hero
{
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 52px;
    height: 81%;
}

.container
.main
.hero
img
{
margin-top: 52px;
width: 750px;
margin-left: -5px;
}

.container
.main
.info-section
{
    margin-top: -65px;
}

.container
.main
.info-section
h1
{
    font-size: 2.48rem;
}
.container
.main
.info-section
.text
{
    color: #ccc;
    line-height: 1.7rem;
    padding-right:5px;
    margin-top: 22px;
    font-size: 1.14rem;
    padding-bottom: 19px;
}

.container
.main
.info-section
.btn
{
    /* padding: 1rem; */
    width: 200px;
    height: 60px;
    color:var(--p-violet);
    font-size: 1.3rem;
    box-shadow: 0 5px 10px rgb(48, 48, 48);
    border-radius: 2rem;
    border: 1px solid white;
    cursor: pointer;
}

.container
.main
.info-section
.btn:hover
{
    background:var(--s-magenta);
    color: white;
    border: 1px solid var(--s-magenta);
    transition: 0.3s ease-in-out;
}

.container
.main
.footer
{
    display: flex;
    gap: 17px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 2px;
}

.container
.main
.footer
.icon
{ 
 display: flex;
 border:1px solid white;
 padding:15px;
 align-items: center;
 justify-content: center;
 border-radius: 70%;
 width: 40px;
 color: #fff;
 font-size: 1.1rem;
 height: 40px;
 cursor: pointer;
 transition: 0.3s ease-in-out;
}

.container
.main
.footer
.icon:hover
{
    border:1px solid var(--s-magenta);
    color: var(--s-magenta);
}


.container
.main
.footer
.icon:last-child
{
    font-size: 1.2rem;
}